.main {
  grid-area: 2 / 1 / 5 / 6;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(1, 1fr);
  font-size: 1em;
}
.main__leftAside {
  grid-area: 1 / 1 / 2 / 2;
  background-color: rgb(0, 0, 0);
  text-align: center;
  font-size: 1.5em;
  line-height: 25px;
}

.main__leftAside h3 {
  color: #fff;
  border-bottom: 1px solid #fff;
  padding-bottom: 15px;
}

.main__leftAside ul {
  padding: 0;
  list-style-type: none;
}

.main__leftAside ul li:hover {
  background-color: #fff;
  border-radius: 3px;
  font-size: 1.3em;
}

.main__leftAside ul li a {
  text-decoration: none;
  color: rgb(129, 129, 129);
}

.main__todos {
  grid-area: 1 / 2 / 2 / 7;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1;
  font-size: 1em;
  border-left: 1px solid rgb(255, 255, 255);
  border-right: 1px solid rgb(255, 255, 255);
}

.main__todos--add {
  grid-area: 1 / 1 / 2 / 2;
  background-color: rgb(107, 107, 107);
}
.main__todos--add > h3 {
  text-align: center;
  font-size: 2em;
  line-height: 100%;
}

.main__todos--add > .create {
  display: grid;
  row-gap: 10px;
}

.main__todos--add > .create > input {
  min-height: 40px;
  font-family: Courier;
  font-size: 2em;
  border: none;
}

.main__todos--add > .create > textarea {
  min-height: 400px;
  resize: none;
  font-family: Courier;
  font-size: 20px;
}

.main__todos--add > .create > button {
  min-height: 50px;
  width: 200px;
  background-color: #fff;
  border: 1px solid #63ff91;
  opacity: 1;
  border-radius: 15px;
  font-family: Courier;
  font-size: 20px;
  cursor: pointer;
  justify-self: center;
}

.main__todos--add > .create > button:hover {
  background-color: #63ff91;
}

.main__todos--todos {
  grid-area: 1 / 2 / 2 / 3;
  background-color: #fff;

  padding: 10px;
  font-size: 1.5em;
}

.main__todos--todos--todo {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 10px;
  padding: 5px;
  margin: 10px 0;
}
.main__rightAside {
  grid-area: 1 / 7 / 2 / 8;
  background-color: rgb(0, 0, 0);
  text-align: center;
  font-size: 1.5em;
}

.main__rightAside h3 {
  color: #fff;
  border-bottom: 1px solid #fff;
  padding-bottom: 15px;
}

.main__rightAside ul {
  padding: 0;
  list-style-type: none;
}

.main__rightAside ul li a {
  text-decoration: none;
  color: rgb(129, 129, 129);
  line-height: 25px;
}

.main__rightAside ul li:hover {
  background-color: #fff;
  border-radius: 3px;
  /* border: 1px solid #63ff91; */
  font-size: 1.3em;
  font-weight: bold;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 768px) {
  .main {
    grid-area: 2 / 1 / 3 / 2;
    display: grid;
    grid-template-columns: auto-fill;
    grid-template-rows: repeat(3, 1fr);
  }

  .main__leftAside {
    grid-area: 1 / 1 / 2 / 8;
  }

  .main__todos {
    grid-area: 2 / 1 / 3 / 8;
  }

  .main__todos--todos {
    font-size: 1em;
  }

  .main__rightAside {
    grid-area: 3 / 1 / 4 / 8;
  }
}

@media only screen and (max-width: 500px) {
  .main__todos {
    display: grid;
    grid-template-columns: 1fr;
  }

  .main__todos--add {
    grid-area: 2 / 1 / 3/ 3;
  }

  .main__todos--todos {
    grid-area: 1/1/2/3;
  }
}
